<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~kjell/vader
  RewriteRule ^/~kjell/vader/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~kjell/vader/index.html [L]
</IfModule>